<mat-dialog-content class=" w-full">
    <div class="flex flex-col text-center">
        <h2 mat-dialog-title>Transactions Details</h2>
        <table mat-table [dataSource]="dataSource()" class="mat-elevation-z8 ">

            <!-- Position Column -->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> No. </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef> Date </th>
                <td mat-cell *matCellDef="let element"> {{element.date | date : 'shortDate'}} </td>
            </ng-container>


            <!-- Symbol Column -->
            <ng-container matColumnDef="amount">
                <th mat-header-cell *matHeaderCellDef> Amount </th>
                <td mat-cell *matCellDef="let element"> {{element.amount | currency: 'EUR' : 'symbol' : '1.2-2'}} </td>
            </ng-container>

            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let element">
                    <span class="flex flex row ">
                        <button mat-icon-button aria-label="Update category" class="-me-2"
                            (click)="openUpdateTransaction(element)">
                            <mat-icon fontIcon="autorenew" class="!text-indigo-700"></mat-icon>
                        </button>
                        <button mat-icon-button aria-label="Delete category">
                            <mat-icon fontIcon="delete" class="!text-red-700"
                                (click)="openDeleteTransaction(element)"></mat-icon>
                        </button>
                    </span>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>

</mat-dialog-content>