<div class="p-4 bg-white shadow-xl rounded-xl flex flex-col gap-9 overflow-y-auto h-full">
    <!-- Datepicker -->
    <app-datepicker-sidebar></app-datepicker-sidebar>

    <!-- This month total display -->
    <app-total-month-display></app-total-month-display>

    <!-- Add Transaction (Income/Expense)-->
    <div class="flex flex-col gap-4 font-semibold text-sky-700">
        <div class="flex border-b align-items-center  xl:gap-2 text-sm xl:text-xl">
            <mat-icon aria-label="face icon" fontIcon="add_circle" class="!text-sm xl:!text-xl"></mat-icon>
            <h2>Transactions</h2>
        </div>
        <!-- Add income btn -->
        <app-add-income-btn></app-add-income-btn>

        <!-- Add expense btn -->
        <app-add-expense-btn></app-add-expense-btn>
    </div>

    <!-- Add Category-->
    <app-add-category></app-add-category>

    <!-- Piechart -->
    <app-pie-chart-display class="h-100"></app-pie-chart-display>
</div>