<!-- <div class="p-8 max-w-4xl mx-auto mt-12 bg-white shadow-xl rounded-xl"> -->
<div class="flex flex-col items-center ">
  <!-- Header -->
  <header
    class="p-4 border-b border-gray-200 mb-6 flex flex-row justify-between items-center bg-white w-screen shadow-xl h-[10%]">
    <h1 class="text-xl font-extrabold text-cyan-800">
      Budget Tracker Dashboard
    </h1>
    <button (click)="logout()" mat-raised-button aria-label="Log out of the application"
      class="!text-white !bg-red-700 !hover:bg-red-800 ">
      Logout
    </button>
  </header>

  <!-- Main -->
  <section class=" w-[90%] flex gap-6 h-[90%]">
    <!-- LEft section -->
    <div class="p-4 w-1/6 bg-white shadow-xl rounded-xl flex flex-col gap-10 h-[90vh]">
      <!-- Add Transaction (Income/Expense)-->
      <div class="flex flex-col gap-4 text-xl font-semibold text-sky-700">
        <div class="flex border-b align-items-center">
          <mat-icon aria-label="face icon" fontIcon="add_circle"></mat-icon>
          <h2> Transactions </h2>
        </div>

        <button (click)="addExpense()" mat-raised-button class="!bg-green-700 hover:!bg-green-800 !text-white">
          Add Income
        </button>
        <button (click)="addIncome()" mat-raised-button class="!bg-red-700 hover:!bg-red-800 !text-white">
          Add expense
        </button>
      </div>

      <!-- This month -->

      <div class="flex flex-col gap-4">
        <div class="flex border-b align-items-center  text-xl font-semibold text-sky-700">
          <mat-icon aria-label="face icon" fontIcon="calendar_month"></mat-icon>
          <h2> This month </h2>
        </div>

        <div class="flex flex-col gap-2">
          <div class="flex flex-row justify-between">
            <span class="text-gray-600">Total Income:</span>
            <span class="font-medium text-green-600">$5,000</span>
          </div>
          <div class="flex flex-row justify-between">
            <span class="text-gray-600">Total Expenses:</span>
            <span class="font-medium text-red-600">$3,200</span>
          </div>
          <div class="flex flex-row justify-between border-t pt-2">
            <span class="text-gray-800 font-semibold">Balance:</span>
            <span class="font-semibold text-gray-800">$1,800</span>
          </div>
        </div>
      </div>

      <!-- Piechart -->
      <div>
        <div class="flex border-b align-items-center  text-xl font-semibold text-sky-700">
          <mat-icon aria-label="face icon" fontIcon="pie_chart"></mat-icon>
          <h2>Repartition</h2>
        </div>

        <div class="w-full h-40 bg-gray-100 flex items-center justify-center text-gray-500">
          [Pie Chart Placeholder]
        </div>
      </div>

      <!-- Add Category-->
      <div class="flex flex-col">
        <!-- category-add.component -->
        <app-add-category (categoryAdded)="onCategoryAdded($any($event))"></app-add-category>
      </div>
    </div>

    <!-- Right section -->
    <div class="p-4 flex flex-col w-full bg-white shadow-xl rounded-xl ">
      <div class="flex border-b align-items-center text-xl font-semibold text-sky-700">
        <mat-icon aria-label="face icon" fontIcon="business_center"></mat-icon>
        <h2>Monthly Summary</h2>
      </div>

      <div class="flex my-4 gap-1">
        <mat-icon aria-label="face icon" fontIcon="category"></mat-icon>
        <div class="text-gray-600 text-xl">Categories</div>
      </div>

      <div class="flex flex-wrap gap-10">
        @for (category of allCategories(); track category.id) {

        <div class="flex flex-col border p-4 rounded-lg shadow-md w-1/6 justify-between">
          <div class="flex flex-row gap-4 justify-between items-center mb-2">
            <span class="flex items-center gap-2">
              <mat-icon aria-label="face icon" fontIcon="label" class="!text-cyan-700"></mat-icon>
              <span class="text-cyan-700 text-xl">{{category.name}}</span>
            </span>
            <span class="flex ">
              <button mat-icon-button aria-label="Update category" class="-me-2"
                (click)="openDialogUpdateCategory(category)">
                <mat-icon fontIcon="autorenew" class="!text-indigo-700"></mat-icon>
              </button>
              <button mat-icon-button aria-label="Delete category">
                <mat-icon fontIcon="delete" class="!text-red-700"></mat-icon>
              </button>
            </span>
          </div>
          <div class="text-green-600 font-medium">$2,000</div>
          <!-- (click)="deleteCategory(item.id)" -->
          <div class="text-green-600 font-medium">%</div>
        </div>

        }
      </div>
    </div>
    <div>


    </div>

  </section>


</div>