/* src/styles.scss */

// Import Angular Material theming functions
@use '@angular/material' as mat;

// Load the custom theme definition file.
// This file runs the mat.theme() mixin and defines the color variables (like 'primary').
@use './custom-theme.scss';

// Load Tailwind CSS (last, to minimize conflicts with Material's base styles)
@use 'tailwindcss';

// Include Angular Material Core styles
@include mat.core();

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.valid-green-border {
  --mat-mdc-form-field-outline-color: #10b981 !important;
}

.invalid-red-border {
  --mat-mdc-form-field-outline-color: red !important;
}

/* Bold on all footers of mat-table*/
tr.mat-mdc-footer-row td {
  font-weight: bold;
}

/* Scrollbar */

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #6699ff #f0f0f5;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #f0f0f5;
}

*::-webkit-scrollbar-thumb {
  background-color: #6699ff;
  border-radius: 20px;
  border: 3px solid #f0f0f5;
}
