/* src/styles.scss */

// Import Angular Material theming functions
@use '@angular/material' as mat;

// Load the custom theme definition file.
// This file runs the mat.theme() mixin and defines the color variables (like 'primary').
@use './custom-theme.scss';

// Load Tailwind CSS (last, to minimize conflicts with Material's base styles)
@use 'tailwindcss';

// Include Angular Material Core styles
@include mat.core();

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.valid-green-border {
  --mat-mdc-form-field-outline-color: #10b981 !important;
}

.invalid-red-border {
  --mat-mdc-form-field-outline-color: red !important;
}

/* Bold on all footers of mat-table*/
tr.mat-mdc-footer-row td {
  font-weight: bold;
}
