/*src/styles.scss*/
@use './custom-theme.scss';
@use 'tailwindcss';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

/* Style to fix the weird border with angular material */
.mdc-notched-outline__notch {
  border-right: none !important;
}
