<div class="p-4 flex flex-col bg-white shadow-xl rounded-xl h-[90vh]">
    <div class="flex border-b align-items-center text-xl font-semibold text-sky-700">
        <mat-icon aria-label="face icon" fontIcon="business_center"></mat-icon>
        <h2>Monthly Budget</h2>
    </div>

    <!-- Categories -->
    <app-dashboard-summary-categories [allCategories]="allCategories()"></app-dashboard-summary-categories>

    <!-- Incomes list -->
    <app-dashboard-summary-income-transactions [allCategories]="allCategories()">
    </app-dashboard-summary-income-transactions>

</div>